apiVersion: apps/v1
kind: Deployment
metadata:
  name: vulndemo
  namespace: demo-app
  labels:
    app: vulndemo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: vulndemo
  template:
    metadata:
      labels:
        app: vulndemo
    spec:
      containers:
      - name: vulndemo
        image: ""
        ports:
        - containerPort: 8080
        env:
          - name: SPRING_DATASOURCE_URL
            value: jdbc:mysql://mysql.demo-app.svc.cluster.local:3306/vulndb
          - name: SPRING_DATASOURCE_USERNAME
            valueFrom:
              secretKeyRef:
                name: mysql-secret
                key: mysql-user
          - name: SPRING_DATASOURCE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mysql-secret
                key: mysql-password
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "300m"
            memory: "512Mi"
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 20
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
